requests==2.32.3
bleak==0.22.3
dbus-fast==2.24.4
dbus-next==0.2.3
typing_extensions==4.12.2

bless==0.2.6

netifaces==0.11.0
# numpy==2.1.3
pyalsaaudio==0.11.0
PyAudio==0.2.14
pygame==2.6.1
# pyrtlsdr==0.3.0
PyYAML==6.0.2
RPi.GPIO==0.7.1
# scipy==1.14.1

Flask==3.1.0
