[Unit]
Description=RTL-SDR NFS

# Uncomment if your service depends on network
#After=network.target

[Service]
ExecStart=RTL_433_BIN -R 0 -c INSTALL_DIR/config/rtl_433_ouistici.conf -F http

# Automatically restart the service if it crashes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
