[Unit]
Description=Ouistici main app

# Uncomment if your service depends on network
#After=network.target

[Service]
ExecStart=/bin/bash -c "alsactl restore -f INSTALL_DIR/Codec_Zero_Playback_only.state || true && source INSTALL_DIR/ouistici/bin/activate && python INSTALL_DIR/ouistici.py"
WorkingDirectory=INSTALL_DIR

# Automatically restart the service if it crashes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
