[Unit]
Description=Ouistici main app

# Uncomment if your service depends on network
#After=network.target

[Service]
ExecStart=/bin/bash -c "source $INSTALL_DIR/ouistici/bin/activate && python $INSTALL_DIR/ouistici.py"
WorkingDirectory=$INSTALL_DIR

# Automatically restart the service if it crashes
Restart=on-failure
RestartSec=5

# Use a dedicated user (security best practice)
User=ouistici

[Install]
WantedBy=multi-user.target
