[Unit]
Description=Ouistici configuration server

# Service depends on network
After=network.target

[Service]
# ExecStart=/bin/bash -c "source /home/pi/OuisticiBaliseRasp/ouistici/bin/activate && python /home/pi/OuisticiBaliseRasp/serverconfig.py"
ExecStart=/bin/bash -c "source /home/pi/OuisticiBaliseRasp/ouistici/bin/activate && cd /home/pi/OuisticiBaliseRasp/ && waitress-serve --host 0.0.0.0 --port 5000 serverconfig:app"
WorkingDirectory=/home/pi/OuisticiBaliseRasp/

# Automatically restart the service if it crashes
Restart=on-failure
RestartSec=5

# Use a dedicated user (security best practice)
User=ouistici

[Install]
WantedBy=multi-user.target
