[Unit]
Description=RTL-SDR NFS

# Uncomment if your service depends on network
#After=network.target

[Service]
ExecStart=/usr/local/bin/rtl_433 -R 0 -c /home/pi/OuisticiBaliseRasp/rtl_433_ouistici.conf -F http

# Automatically restart the service if it crashes
Restart=on-failure
RestartSec=5

# Use a dedicated user (security best practice)
User=ouistici

[Install]
WantedBy=multi-user.target
